/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {

  /* colors */
  --clr-dark-100: #000000;
  --clr-dark-200: #333333;
  --clr-dark-300: #404040;
  --clr-dark-400: #444444;
  --clr-dark-500: #797777;
  --clr-dark-600: #5a5858c4;

  --clr-light-100: #ffffff;
  --clr-light-200: #d7cec7;
  
  --clr-accent-100: #61c9a8;
  --clr-accent-140: #3b9679;
  --clr-accent-150: #2C775E;
  --clr-accent-200: #66baa8;
  --clr-accent-300: #00c9bf;
  --clr-accent-350: #76323f;
  --clr-accent-400: #d65db1;
  --clr-accent-500: #bc4F7e;
  --clr-accent-550: #D53949;
  --clr-accent-600: #db5461;

  /* font-sizes, base is 16px*/
  --fs-900: clamp(2.5rem, 8vw + 1rem, 5.5rem);
  --fs-800: clamp(2rem, 8vw + 1rem, 4rem);
  --fs-700: 1.6rem;
  --fs-600: 1.5rem;
  --fs-550: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-200: 0.875rem;
  
  /* font-family */
  --ff-serif-mont: "Montserrat", sans-serif;
  
  /*font-weights*/
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

 /*box-shadow*/
  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
  --box-shadow-200: 0 2.4rem 4.8rem rgba(5, 2, 2, 0.15);
  --box-shadow-300: 0 1px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-400: 0 0 0 0.15rem #3dc37a;
  --box-shadow-500: 10px 10px 5px #ccc;
}

@media (min-width: 35em) {

  :root { 
    --fs-700: 2rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {

  :root {
    --fs-400: 1.06rem;
    --fs-500: 1.313rem;
    --fs-600: 1.8rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */


/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

/*Reset line-height*/
h1,
.h1,
h2,
.h2, 
h3,
.h3,
h4,
.h4 {
line-height: 1;
}


/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
blockquote {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--fw-400);
}

a {
  text-decoration: none;
  color: var(--clr-dark-100);
}

ul[class] {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  text-decoration: none;
}


/* set up the body */
body {
  font-family: var(--ff-serif-mont);
  font-size: var(--fs-400);
  color: var(--clr-dark-100);
  padding-top: 7em; 
  line-height: 1.6;
  min-height: 100vh;
}


@media (min-width: 60em) {
  body {
    padding-top: 8em; 
  }
}

/* make images easier to work with */
img,
svg {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flow > *:not(:first-child) {
  margin-top: 1rem;
}

.space-large > * {
  margin-top: 2rem;
}

.space-larger > *:not(:first-child) {
  margin-top: 2rem;
}

.space-xl > * {
  margin-top: 2.8rem;
}

.space-xls > *:not(:first-child) {
  margin-top: 2.8rem;
}

.space-more > * {
  margin-top: 4rem;
}

.space-small > * {
  margin-top: 1rem;
}

.btn {
  color: var(--clr-accent-350);
  box-shadow: var(--box-shadow);
  display: inline-block;
  border: 0;
  border-radius: .5em;
  font-weight: var(--fw-700);
  line-height: 1.125;
  text-transform: uppercase;
  text-decoration: none;
  padding: .8em 1em;
  background-color: var(--clr-light-200);
}

.btn:hover,
.btn:focus {
  color: var(--clr-accent-350);
  font-weight: var(--fw-600);
  background-color: var(--clr-light-100);
  border: 2px solid  var(--clr-accent-350);
  transition: background-color .4s ease-in-out 0s;
}

.center {
 display: grid;
 place-items: center;
}

/* typography */

.heading {
  color: var(--clr-dark-200);
  font-size: var(--fs-900);
  font-weight: var(--fw-800);
  margin-top: 1rem;
}

.main-sub-heading {
  color: var(--clr-dark-300);
  font-size: var(--fs-850);
  font-weight: var(--fw-500);
}

.sub-heading {
  color: var(--clr-dark-100);
  font-size: var(--fs-700);
  font-weight: var(--fw-500);
}

.section-title {
  color: var(--clr-accent-350);
  text-transform: uppercase;
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
}

.text-heading {
  color: var(--clr-dark-400);
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
}

.project-title {
  color: var(--clr-dark-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
}

.ff-serif-mont { 
  font-family: var(--ff-serif-mont); 
} 

@media (min-width: 45em) {
  .heading {
    margin-top: 0;
  }
}



.primary-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-top: 1.5rem;
  padding-inline: 1.5rem;
  position: fixed;
  top: 0;
  background-color: var(--clr-accent-350);
  width: 100%;
  z-index: 10;
}

/*Hamburger menu From here*/

.open-nav {
  border: 0;
  background: 0;
  color: var(--clr-light-100);
  cursor: pointer;
  padding: 0;
  margin-bottom: auto;
  font-size: 2em;
  align-self: flex-start;
  margin-bottom: auto;
  transition: all ease-in-out 2s;
}



.menu-nav-mobile {
  position: fixed;
  background: var(--clr-accent-350);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
  height: 100%;
  /*z-index: 3;*/
}

/*added for JS*/
.navigation-open {
  transform: translateX(-100%)
}

.menu-nav {
  display: none;
}

.nav-link-mobile {
  color: var(--clr-light-100);
  font-size: var(--fs-600);
  font-weight: var(--fw-800);
}

.nav-link-mobile:hover,
.nav-link-mobile:focus {
  opacity: .5;
  /*color: var(--clr-dark-300);*/
  
}

.menu-list-mobile {
  display: flex;/*may not need display: flex;*/
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0; 
  align-items: center;
  justify-content: space-around;
}

.close-nav {
  border: 0;
  background: 0;
  color: var(--clr-light-100);
  font-weight: var(--fw-700);
  font-size: 3rem;
  cursor: pointer;
  padding: .5em;
  position: absolute;
}

.close-nav:hover,
.close-nav:focus {
  opacity: .5;
}


@media (min-width: 45em) {

  .open-nav,
  .menu-nav-mobile {
    display: none;
  }
}
